{% include "header.html" %}

<section class="main-content mt-5"> <!-- Adding mt-5 (margin-top: 5) for top margin -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center">
          <img src="/static/images/about.jpg" alt="Avatar" class="img-fluid rounded-circle" style="max-width: 200px;">
        </div>
        <div class="mt-4">
          <p>Hey there! I'm Shruti, a computer science student deeply passionate about coding, particularly in Python. This blog site is my brainchild, a Python project where I tinker with code and share my unfiltered thoughts on various topics.</p>
          <p>While the content here may seem random, it's a space for candid expression rather than scholarly discourse. Expect occasional rambles and musings on coding, language learning, and snippets of my life's curiosities.</p>
          <p>Join me in this digital escapade where languages, coding adventures, and a dash of randomness converge. Thanks for dropping by!</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
