{% include "header.html" %}

<section class="main-content mt-5"> <!-- Adding mt-5 (margin-top: 5) for top margin -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="text-center">
          <img src="/static/images/avatar.jpg" alt="Avatar" class="img-fluid rounded-circle mt-5" style="max-width: 200px;">
        </div>
        <div class="mt-4">
          <p>
            Hello! I'm Shruti, a computer applications student passionate about coding and fascinated by the Korean language and culture. I enjoy immersing myself in Korean dramas, music, and language learning.
          </p>
          <p>
            My goal is to excel in both coding and Korean language proficiency. I believe that blending technology with language acquisition enriches the learning experience and broadens my horizons.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
