{% include "header.html" %}

  <!-- Main Blog Section -->
  <section class="container mt-5">
    <div class="row">
      {% if all_posts %}
      {% set main_blog_post = all_posts[-1] %}
      <div class="col-md-10 mx-auto main-blog">
        <!-- Main Blog -->
        <div class="card mb-4">
          <img src="{{ main_blog_post.img_url }}" class="card-img-top" alt="Main Blog Image">
          <div class="card-body">
            <p style="color: blueviolet; font-weight: 900;">Latest post!!</p>
            <h2 class="card-title">{{ main_blog_post.title }}</h2>
            <p class="card-text">{{ main_blog_post.date }}</p>
            <form action="{{ url_for('show_post', post_id=main_blog_post.id) }}">
              <button type="submit" class="your-button-class">Read More</button>
            </form>
          </div>
        </div>
        {% else %}
        <p>No posts available</p>
      {% endif %}
      </div>
    </div>
  </section>

<!-- Gallery View of Blogs (2x3 grid) -->
<section class="container mt-4">
  <div class="row align-items-center justify-content-center">
    {% for post in all_posts[-5:-1][::-1] %}
      <div class="col-md-5">
        <div class="card mb-4">
          <img src="{{post.img_url}}" class="card-img-top" alt="Blog 1 Image">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.date }}</p>
            <form action="{{ url_for('show_post', post_id=post.id) }}"> <!-- Updated form to retain CSS -->
              <button type="submit" class="your-button-class">Read More</button>
            </form>
          </div>
        </div>
      </div>
      {% if loop.index % 2 == 0 %}
        </div><div class="row align-items-center justify-content-center">
      {% endif %}
    {% endfor %}
  </div>
</section>

<div class="d-flex justify-content-end mb-4 mx-5">
  <a class="btn btn-primary float-right" href="{{url_for('all_posts')}}">See All Posts</a>
</div>

      <!-- Admin -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4 mx-5">
        <a class="btn btn-primary float-right" href="{{url_for('dashboard')}}">Admin Panel</a>
      </div>
      {% endif %}



{% include "footer.html" %}