{% include "header.html" %}

  <!-- Main Blog Section -->
  <section class="container mt-5">
    <div class="row">
      {% if all_posts %}
      {% set main_blog_post = all_posts[-1] %}
      <div class="col-md-10 mx-auto main-blog">
        <!-- Main Blog -->
        {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash" style="color: red;">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
        <div class="card mb-4">
          <img src="{{ main_blog_post.img_url }}" class="card-img-top" alt="Main Blog Image">
          <div class="card-body">
            <h4 style="color: blueviolet; font-weight: 900; margin-bottom: 15px;">Latest post!!</h4>
            <h2 class="card-title">{{ main_blog_post.title }}</h2>
            <p class="card-text">{{ main_blog_post.date }}</p>
            <form action="{{ url_for('show_post', post_id=main_blog_post.id) }}">
              <button type="submit" class="your-button-class">Read More</button>
            </form>
          </div>
        </div>
        {% else %}
        <p>No posts available</p>
      {% endif %}
      </div>
    </div>
  </section>

<!-- Gallery View of Blogs (2x3 grid) -->
<section class="container mt-4">
  <div class="row align-items-center justify-content-center">
    {% for post in all_posts[-5:-1][::-1] %}
      <div class="col-md-5">
        <div class="card mb-4">
          <img src="{{post.img_url}}" class="card-img-top" alt="Blog 1 Image">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.date }}</p>
            <form action="{{ url_for('show_post', post_id=post.id) }}"> <!-- Updated form to retain CSS -->
              <button type="submit" class="your-button-class">Read More</button>
            </form>
          </div>
        </div>
      </div>
      {% if loop.index % 2 == 0 %}
        </div><div class="row align-items-center justify-content-center">
      {% endif %}
    {% endfor %}
  </div>


<div class="container text-center mt-5 pt-5">
    <h2>Or you could . . .</h2>
    <hr class="mx-auto">
    </div>

<div class="row">
   <div class="col-md-10 mx-auto">

  <div class="card text-center" style="font-weight: 900; margin-top: 20px; margin-bottom: 30px;">
  <div class="card-header"><h4>See all blog posts together</h4></div>
  <div class="card-body" style="background: linear-gradient(to left, #efd5ff, #515ada);">
    <a class="btn btn-primary" href="{{url_for('all_posts')}}">All Posts</a>
  </div>
</div>
  <div class="card text-center" style="font-weight: 900; margin-top: 20px; margin-bottom: 30px;">
  <div class="card-header"><h4>Suggest a blog idea</h4></div>
  <div class="card-body" style="background: linear-gradient(to right, #efd5ff, #515ada);">
    <a class="btn btn-primary" href="{{url_for('suggest_post')}}">Suggest</a>
  </div>
</div>
{% if current_user.id == 1: %}
  <div class="card text-center" style="font-weight: 900; margin-top: 20px; margin-bottom: 30px;">
  <div class="card-header"><h4>Welcome back Admin</h4></div>
  <div class="card-body" style="background: linear-gradient(to left, #efd5ff, #515ada);">
    <a class="btn btn-primary" href="{{url_for('dashboard')}}">Admin Panel</a>
  </div>
</div>
{% endif %}

  </div>

</div>




</section>

{% include "footer.html" %}