{% include "header.html" %}

<section class="main-content mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Blog Post Image -->
        <img src="/static/images/1.jpg" class="img-fluid blog-post-image mt-5" alt="Blog Image"> <!-- Added class blog-post-image -->

        <!-- Blog Post Title -->
        <h2 class="text-center mt-4">{{ post.title }}</h2>

        <!-- Blog Post Date -->
        <p class="text-center">{{ post.date }}</p>

        <!-- Main Content of the Blog Post -->
        <div class="mt-4">
          <div class="col-lg-8 mx-auto"> <!-- Adjusted width for paragraphs -->
            <p>{{ post.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
