{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<section class="main-content" style="margin-top: 80px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Blog Post Image -->
        <img src="{{post.img_url}}" class="img-fluid blog-post-image mt-5" alt="Blog Image"> <!-- Added class blog-post-image -->

        <!-- Blog Post Title -->
        <h2 class="text-center mt-4">{{ post.title }}</h2>

        <!-- Blog Post Date -->
        <p class="text-center">{{ post.date }}</p>

        <!-- Main Content of the Blog Post -->
        <div class="mt-4">
          <div class="col-lg-8 mx-auto"> <!-- Adjusted width for paragraphs -->
           {{ post.body|safe }}
          </div>
        </div>

        <div class="container text-center mt-5">
            <h2>Comment Section</h2>
            <hr class="mx-auto">
        </div>
         <!-- Comments Area -->
        <!-- Load the CKEditor -->
        {{ ckeditor.load() }}
        <!-- Configure it with the name of the form field from CommentForm -->
        {{ ckeditor.config(name='comment_text') }}
        <!-- Create the wtf quick form from CommentForm -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <div class="container text-center mt-5">
            <h2>Comments</h2>
            <hr class="mx-auto">
        </div>
        <div class="comment">
          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in post.comments: %}
            <li>
              <div class="commenterImage me-3">
                {% if comment.comment_author.profile_picture %}
                  <img src="{{ url_for('static', filename='profile_pics/' + comment.comment_author.profile_picture) }}" class="comment-img" alt="Profile Picture" /><span class="sub-text">{{comment.comment_author.name}}</span>
                {% else %}
                  <img src="{{ url_for('static', filename='images/default.jpg') }}" class="comment-img" alt="Default Profile Picture" /><span class="sub-text">{{comment.comment_author.name}}</span>
                {% endif %}
              </div>
              <div class="commentText" style="font-weight: 900;">
                {{comment.text|safe}}
              </div>
            </li>
            {% endfor %}
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}
