{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<section class="my-5 py-5">
    <div class="container text-center mt-3 pt-5">
       <h2 class="form-weight-bold">Register</h2>
       <hr class="mx-auto">
    </div>

    <div class="mx-auto container">
         <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto" style="font-weight: 900;">
      <!--Rendering the registration form here-->
      {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <div class="form-group" style="margin-top: 10px;">
            <a id="register-url" style="text-decoration: none; font-weight: 900; color: blueviolet; font-size: 1.2em;" href="{{ url_for ('login') }}">Already have an account? Login!</a>
        </div>
      </div>

    </div>
    </div>
</section>

{% include "footer.html" %} {% endblock %}