{% include "header.html" %}

<section class="container">
  <h3 class="mx-auto" style="margin-top: 200px; margin-bottom: 20px;">You searched for : <em>{{searched}}</em></h3>
  <div class="row align-items-center justify-content-center">
    {% if searched %}
    {% if posts %}
    {% for post in posts[::-1] %}
      <div class="col-md-5">
        <div class="card mb-4">
          <img src="{{post.img_url}}" class="card-img-top" alt="Blog 1 Image">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.date }}</p>
            <form action="{{ url_for('show_post', post_id=post.id) }}">
              <button type="submit" class="your-button-class">Read More</button>
            </form>
          </div>
        </div>
      </div>
      {% if loop.index % 2 == 0 %}
        </div><div class="row align-items-center justify-content-center">
      {% endif %}
    {% endfor %}
  {% else %}
        <h4>No results found for '{{ searched }}'...</h4>
      {% endif %}
    {% else %}
      <h4>Please enter a search term...</h4>
    {% endif %}
  </div>
</section>


{% include "footer.html" %}